.main1{
    border: 5px solid black;
}
.main2{
    border: 10px solid rgb(100, 100, 94);
  
}
.one{
    text-align: center;
    font-size:30px;
}
.col1{
    background: rgb(0, 255, 0);
}
.col2{
    background: rgb(255, 102, 0);
}
.col3{
    background: rgb(255, 0, 128);
}
.col4{
    background: rgb(55, 0, 255);
}
.col5{
    background: rgb(255, 0, 0);
}
.col6{
    background: rgb(0, 255, 170);
}
.col7{
    background: rgb(255, 187, 0);
}
.col8{
    background: rgb(72, 255, 0);
}
.col9{
    background: rgb(255, 0, 43);
}
.col10{
    background: rgb(255, 0, 140);
}
.col11{
    background: rgb(140, 0, 255);
}
.col12{
    background: rgb(0, 174, 255);
}